*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(https://i.redd.it/g4crddfnmt9a1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.App{
    width: 500px;
    height: auto;
    background: linear-gradient(to bottom right, #ff9966cc 0%, #ff3300cc 100%);
    margin-top: 25%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5%;
    border: 3px solid;
    border-color: rgba(0, 0, 0, 0.766);
    backdrop-filter: blur(10px);
}

